<h1 align="center">David Molizane</h1>

###

<h3 align="center">Front-End Developer Based in Brazil🇧🇷</h3>

###

<h3 align="left">Talk With Me</h3>

###

<div align="left">
  <a
    href="https://www.linkedin.com/in/david-molizane-11a8751b3/"
    target="_blank"
  >
    <img
      src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/linkedin/default.svg"
      width="52"
      height="40"
      alt="linkedin logo"
    />
  </a>
  <a href="mailto:dmolizane@gmail.com" target="_blank">
    <img
      src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/gmail/default.svg"
      width="52"
      height="40"
      alt="gmail logo"
    />
  </a>
  <a href="https://www.instagram.com/molizanee/" target="_blank">
    <img
      src="https://raw.githubusercontent.com/maurodesouza/profile-readme-generator/master/src/assets/icons/social/instagram/default.svg"
      width="52"
      height="40"
      alt="instagram logo"
    />
  </a>
</div>

###

<h3 align="left">I Work With</h3>

###

<div align="left">
  <img
    src="https://skillicons.dev/icons?i=ts"
    height="40"
    alt="typescript logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=react"
    height="40"
    alt="react logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=solidjs"
    height="40"
    alt="solid logo"
  />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=jest" height="40" alt="jest logo" />
  <img width="12" />
  <img src="https://skillicons.dev/icons?i=vite" height="40" alt="vite logo" />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=nextjs"
    height="40"
    alt="nextjs logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=firebase"
    height="40"
    alt="firebase logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=docker"
    height="40"
    alt="docker logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=linux"
    height="40"
    alt="linux logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=figma"
    height="40"
    alt="figma logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=nodejs"
    height="40"
    alt="nodejs logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=kotlin"
    height="40"
    alt="kotlin logo"
  />
  <img width="12" />
  <img
    src="https://skillicons.dev/icons?i=androidstudio"
    height="40"
    alt="androidstudio logo"
  />
</div>

###

<h3 align="left">My Stats</h3>

###

<section style="display: flex; flex-direction: column; gap: 10px;">
  <div style="display: flex; align-items: center; gap: 10px;">
    <figure>
      <img
        src="https://github-readme-stats.vercel.app/api?username=Molizanee&hide_title=false&hide_rank=false&show_icons=true&include_all_commits=true&count_private=true&disable_animations=false&theme=nord&locale=en&hide_border=true&order=1"
        alt="stats graph"        
      />
    </figure>
    <figure>
      <img
        src="https://github-readme-stats.vercel.app/api/top-langs?username=Molizanee&locale=en&hide_title=false&layout=compact&card_width=320&langs_count=6&theme=nord&hide_border=true&order=2"
        alt="languages graph"        
      />
    </figure>
  </div>
  <figure>
    <img
      src="https://github-readme-activity-graph.vercel.app/graph?username=Molizanee&radius=9&theme=nord&area=true&order=5&hide_border=true"
      alt="activity-graph graph"
    />
  </figure>
</section>
###
